@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
 }
 
  body{
    overflow-x: hidden;
    background: #000000;
    
  }
  .main1{
    height: 100%;
    width: 100%;
  }
 #string{
  height: 500px;
   width: 100%;
    }
 svg{
   width: 100%;
 height: 400px;
  }
 
 
 #main2{
  height: 115%;
  width: 100%;
 
  }

 .cursour{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background:  white;
  color: #000;
  font-size: 0.35rem;
  font-weight: 400;
   box-shadow: 2px 3px 29px 11px rgba(0,0,0,0.54);
  -webkit-box-shadow: 2px 3px 29px 11px rgba(0,0,0,0.54);
  -moz-box-shadow: 2px 3px 29px 11px rgba(0,0,0,0.54);
 display: flex;
 align-content:  center;
 align-items: center;
  text-align: center;
   position:relative;
  z-index: 9;
  }


  #textAnimation1{
     height:  100% ;

background-color:rgb(47, 47, 47);
 color: #000;
  
 }
#textAnimation1 h1{
 padding-top: 15%; 
    font-size: 30vw;
  font-weight: regular 400;
  color: #000;
  white-space: nowrap;
  font-family:Playfair   ;
 }

 #textAnimation2{
  height:  100% ;

background-color:rgb(47, 47, 47);
color: #000;

}
#textAnimation2 h1{
padding-top:15%;

 font-size: 30vw;
font-weight: regular 400;
color: #000;
white-space: nowrap;
font-family:Playfair   ;
}
 #image{
  height: 400px;
  width: 600px;
  background:  red;
  margin-top: 15%;
 margin-left: 25%;
 position: relative;

 }

 #image img{
   height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
 }

 .overlay{
  position:  absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 10;
 }

 .main3{
  height: 100%;
  width: 100%;
  background:  rgb(0, 0, 0);

  background-image: url(https://images.pexels.com/photos/531767/pexels-photo-531767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position:center;
  position: relative;
 }

 nav{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
 }

 nav h1{
font-size: 30px;
font-weight: 400;
 }
 nav i{
  font-size: 20px;
 }


 .full{
   position:  absolute;
  top: 0%;
  right: -40%;
  z-index: 9;
  height: 688px;
  width: 500px;
  background:  rgba(255, 255, 255, 0.544);
  padding: 40px 50px ;
  backdrop-filter: blur(10px);
  
}

  .full h4{
    color: #000;
    margin-bottom:20px;
  }

.full i{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background:  white;
  position:absolute;
  top: 1%;
  right: 1%;
  color: #000;
}